* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-color: #4caf4f;
  --main-color2:rgba(76, 175, 79, 0.286);
  --text-color: #717171;
  --shadow: #73e78863;
  --title-color: #4d4d4d;
  --black: #000000;
  --white: #ffffff;
  --bg-alt: #f5f7fa;
  --bg: #263238;
  --h1-size: 40px;
  --h2-size: 36px;
  --section-padding: 40px;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-alt);
  z-index: 1;
  padding: 25px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container a {
  color: var(--bg);
  font-size: 17px;
}
header .container .logo a{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 35px;
  padding-right: 20px;
}
header .container nav {
  position: relative;
}
header .container nav input{
  appearance: none;
}
@media (max-width:991px) {
  header .container nav label img{
    cursor: pointer;
  }
  header .container nav ul{
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 200px;
    background-color: var(--bg-alt);
    border: 1px solid;
  }
  header .container nav input:checked + ul{
    display: block;
  }
  header .container nav ul li{
    padding: 15px;
  }
  header .container nav ul li:not(:last-child){
    border-bottom: 1px solid ;
  }
  .hero .container .image {
    display: none;
  }
}
@media (min-width:992px) {
  header .container nav label , input{
    display: none;
  }
  header .container nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  header .container nav ul li .login{
    color: var(--main-color);
    margin-left: 50px;
    
  }
  header .container nav ul li .sign_up{
    display: inline-block;
    background-color: var(--main-color);
    color: var(--bg-alt);
    border-radius: 6px;
    width: 100px;
    text-align: center;
    padding: 10px 15px;
  }
  header .container nav ul li .sign_up:hover{
    background-color: inherit;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: 0.5s;
  }
}
p{
  color: var(--text-color);
  line-height: 1.4;
  padding-top: 12px;
}
.d_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.btn{
  display: block;
  background-color: var(--main-color);
  color: var(--white);
  width: 125px;
  text-align: center;
  border-radius: 3px;
  padding: 15px;
  margin-top: 20px;
}
.hero {
  background-color: var(--bg-alt);
}
.hero .container{
  height: calc(100vh - 60px);
  padding-top: 80px;
}
.hero .container h1{
  font-size: 40px;
  color: var(--title-color);
}
.hero .container h1 span{
  color: var(--main-color);
}
.hero ul{
  display: flex;
  justify-content: center;
  padding: 25px 0 ;
}
.hero ul li:nth-child(1){
  background-color: var(--main-color);
}
.hero ul li{
  width: 8px;
  height: 8px;
  background-color: var(--main-color2);
  border-radius: 50%;
  margin-right: 8px;
}
h2{
  font-size: var(--h2-size);
  color: var(--title-color);
}
.clients .container{
  text-align: center;
  padding-top: 30px;
}
.clients .container .image{
  padding-top: 30px;
}
.community .container{
  text-align: center;
  padding-top: 60px;
}
.community .container h3{
  font-size: 24px;
  color: var(--title-color);
  padding-top: 10px;
}
.community .container .companies{
  padding-top: 45px;
}
.community .container .companies .company{
  height: 245px;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px var(--shadow);
  padding: 30px 20px ;
}
.community .container .image{
  height: 50px;
}
.community .container .image {
  position: relative;
}
.community .container .image::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: var(--bg2);
  border-radius: 10px 5px 20px 5px;
  left: 120px;
  top: 10px;
  z-index: -1;
}
.spendin .container{
  padding-top: 70px;
}
.helping{
  background-color: var(--bg-alt);
  margin-top: 20px;
}
.helping .container{
  padding: 50px 0;
}
.helping .container h2 span{
  color: var(--main-color);
}
.helping .container p{
  color: var(--bg);
}
.helping .container .icons .left .icon , .right .icon{
  padding: 20px;
}
.helping .container .icons .icon{
  display: flex;
  align-items: center;
  gap: 11px;
}
.helping .container .icons .icon .inf_icon span{
  display: block;
  color: var(--text-color);
}
.helping .container .icons .icon .inf_icon .num{
  font-size: 27px;
  font-weight: 600;
  color: var(--title-color);
  padding-bottom: 5px;
}
.design .container{
  gap: 45px;
}