* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-color: #4caf4f;
  --main-color2:rgba(76, 175, 79, 0.286);
  --text-color: #717171;
  --title-color: #4d4d4d;
  --black: #000000;
  --white: #ffffff;
  --bg-alt: #f5f7fa;
  --bg: #263238;
  --h1-size: 40px;
  --h2-size: 36px;
  --section-padding: 40px;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  width: 100%;
  padding: 25px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container a {
  color: var(--bg);
  font-size: 17px;
}
header .container .logo a{
  font-size: 35px;
}
header .container nav {
  position: relative;
}
header .container nav input{
  appearance: none;
}
@media (max-width:991px) {
  header .container nav label img{
    cursor: pointer;
  }
  header .container nav ul{
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 200px;
    background-color: var(--bg-alt);
    border: 1px solid;
  }
  header .container nav input:checked + ul{
    display: block;
  }
  header .container nav ul li{
    padding: 15px;
  }
  header .container nav ul li:not(:last-child){
    border-bottom: 1px solid ;
  }
}
@media (min-width:992px) {
  header .container nav label , input{
    display: none;
  }
  header .container nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  header .container nav ul li:nth-child(7){
    margin-left: 100px;
  }
  header .container nav ul li .login{
    color: var(--main-color);
  }
  header .container nav ul li .sign_up{
    background-color:var(--main-color);
    color: var(--bg-alt);
    border-radius: 6px;
    padding: 10px 15px;
  }
  header .container nav ul li .sign_up:hover{
    background-color:var(--white);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: 0.5s;
  }
}
p{
  color: var(--text-color);
}
.d_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.btn{
  display: block;
  background-color: var(--main-color);
  color: var(--white);
  width: fit-content;
  border-radius: 3px;
  padding: 10px 15px;
  margin-top: 20px;
}
.hero {
  background-color: var(--bg-alt);
  padding-top: 180px;
  height: 100vh;
}
.hero .container h1{
  font-size: 40px;
  color: var(--title-color);
}
.hero .container h1 span{
  color: var(--main-color);
}
.hero .container p{
  padding-top: 15px;
}
.hero ul{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.hero ul li:nth-child(1){
  background-color: var(--main-color);
}
.hero ul li{
  width: 10px;
  height: 10px;
  background-color: var(--main-color2);
  border-radius: 50%;
  margin-right: 20px;
}